<!-- accesso.component.html -->
<div class="accesso-container">
    <h2>Accesso</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Accedi</button>
    </form>
  </div>
  